/* *{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --boton-color:#99b9ff;
    --number-color: #df4c4c;
    --back-color: #44eb8a;
}

[theme= "dark"]{
    --boton-color:#5d5e5f;
    --number-color: #7b8311;
    --back-color: #3d0c5a;
}

[theme= "light"]{
    --boton-color:#f05a15;
    --number-color: #f38ad4;
    --back-color: #e5f366;
}

.container{
    background-color: var(--back-color);
    height: 30lh;
}

.number__title{
    color: var(--number-color);
}

.button__check{
    background-color: var(--boton-color);
    width: 20%;
    height: 20px;
    border: none;
} */

:root{
    /* backgrounds */
    --main-background: hsl(222, 26%, 31%);
    --toggle-background: hsl(223, 31%, 20%);
    --keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
   

    /* keys */
    --key-background-1: hsl(225, 21%, 49%);
    --key-background-2: hsl(6, 63%, 50%);
    --key-background-3: hsl(30, 25%, 89%);
    --key-shadow-1: hsl(224, 28%, 35%);
    --key-shadow-2: hsl(6, 70%, 34%);
    --key-shadow-3: hsl(28, 16%, 65%);
    --toggle: hsl(6, 63%, 50%);

    /* text */
    --text-1: hsl(221, 14%, 31%);
    --text-2: hsl(221, 14%, 31%);
    --text-white: hsl(0, 0%, 100%);

}

[theme = "theme2"]{
    /* backgrounds */
    --main-background: hsl(0, 0%, 90%);
    --toggle-background: hsl(0, 5%, 81%);
    --keypad-background: hsl(0, 5%, 81%);
    --screen-background: hsl(0, 0%, 93%);


    /* keys */
    --key-background-1: hsl(185, 42%, 37%);
    --key-background-2: hsl(25, 98%, 40%);
    --key-background-3: hsl(45, 7%, 89%);
    --key-shadow-1: hsl(185, 58%, 25%);
    --key-shadow-2: hsl(25, 99%, 27%);
    --key-shadow-3: hsl(35, 11%, 61%);
    --toggle: hsl(25, 98%, 40%);

    /* text */
    --text-1: hsl(60, 10%, 19%);
    --text-2: hsl(60, 10%, 19%);
    --text-white: hsl(0, 0%, 100%);
}

[theme = "theme3"]{
    /* backgrounds */
    --main-background: hsl(268, 75%, 9%);
    --toggle-background: hsl(268, 71%, 12%);
    --keypad-background: hsl(268, 71%, 12%);
    --screen-background: hsl(268, 71%, 12%);


    /* keys */
    --key-background-1: hsl(281, 89%, 26%);
    --key-background-2: hsl(176, 100%, 44%);
    --key-background-3: hsl(268, 47%, 21%);
    --key-shadow-1: hsl(285, 91%, 52%);
    --key-shadow-2: hsl(177, 92%, 70%);
    --key-shadow-3: hsl(290, 70%, 36%);
    --toggle: hsl(176, 100%, 44%);

    /* text */
    --text-1: hsl(52, 100%, 62%);
    --text-2: hsl(198, 20%, 13%);
    --text-white: hsl(0, 0%, 100%);

}

.redButton.horizTranslate2 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(20px);
}

.redButton.horizTranslate3 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(40px);
}

.redButton.horizTranslate1 {
    -webkit-transition: -webkit-transform 0.1s linear;
    -webkit-transform: translateX(0px);
}

#outerContainer {
    position: relative;
    width: 111px;
    height: 98px;
    background-color: #4A5B7E;
}

#buttonContainer {
    background-color: #222D41;
    width: 71px;
    height: 28px;
    position: relative;
    left: 20px;
    top: 45px;
    border-radius: 14px;
}

.redButton {
    width: 16px;
    height: 16px;
    background-color: #DB3D2B;
    border-radius: 8px;
    position: relative;
    top: 6px;
    left: 6px;
}

#legendTextContainer {
    left: 22px;
    display: inline-block;
    position: absolute;
    top: 23px;
    color: #ffffff;
    font-family: Arial;
    font-size: 10pt;
    text-align: center;
}

.legendText {
    display: inline-block;
    width: 20px;
    padding-bottom: 33px;
    cursor: default;
    user-select: none;
}

#message {
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 4px;
    margin-top: 6px;
    font-family: Arial;
    font-size: 10pt;
}